%h1
  November is a good month.

#locale
  %p.place
    =@current_locale.place
  %p.phone
    =@current_locale.phone
  %p.time
    last updated at
    =@current_locale ?  @current_locale.updated_at.in_time_zone('America/New_York') : 'never'

#locale-flash
  -if flash[:notice]
    %p.flash
      =flash[:notice]
  -if flash[:error]
    %p.error
      =flash[:error]

- @locale ||= @current_locale
#locale-form
  =form_for @locale, :url => locale_path, :method => :post do |f|
    %p
      =f.label :place, 'Location'
      =f.text_field :place
    %p
      =f.label :phone
      =f.text_field :phone
    %p
      =f.label :password
      =f.password_field :password
    %p
      =f.submit 'Update Locale'

