$width: 960px;
$html_bgcolor: #020;
$body_bgcolor: #dfe;
$fgcolor: #000;

@font-face {
  src: url('/fonts/AkzidenzGrotesk.ttf');
  font-family: 'Akzidenz Grotesk';
}
@font-face {
  src: url('/fonts/AkzidenzGroteskBold.ttf');
  font-weight: bold;
  font-family: 'Akzidenz Grotesk';
}

html {
  background-color: $html_bgcolor;
}

body {
  background-color: $body_bgcolor;
  color: $fgcolor;
  width: $width;
  margin: 10px auto 10px auto;
  font-family: "Akzidenz Grotesk", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px;
}

header {
  text-align: center;
  margin: 0px 10px 20px 10px;
}
footer {
  text-align: center;
  margin: 20px 10px 0px 10px;
}

.strike { text-decoration: line-through; }

a,a:link {
  text-decoration: none;
}

table {border-collapse: collapse;}


//// maag
.overall-stats {
  text-align: center;
  padding-bottom: 10px;
}

table.maag {
  // zebra stripe
  thead,tfoot,tr:nth-child(even) {
    background-color: $body_bgcolor * 0.8;
  }
  // highlight hovered line
  tr:hover {
    background-color: $body_bgcolor * 0.7;
  }
  // line to delimit top 50
  tbody tr:nth-child(50) td {
    border-top: 1px solid #444;
  }

  width: 100%;
  margin: 10px auto 10px auto;
  //table-layout: fixed;

  td { padding: 10px; }

  .winner {
    font-weight: bold;
    background-color: #050;
    color: #fff;
  }
  .norecords {
    text-align: center;
    font-style: italic;
    padding: 20px;
  }
  .index {
    width: 8%;
  }
  .warps,.games,.nights,.wins,.nights_won,.cfbs,.come_ons,.high_night {
    width: 8%;
  }
  .warps_per_game,.warps_per_night,.games_per_night,.wins_per_game {
    width: 8%;
  }
  .mystery_factor {
    width: 18%;
  }
  td {
    text-align: right;
  }
  th {
    text-align: center;
    //-webkit-transform: rotate(-45deg);
    //-webkit-transform-origin: left bottom;
    //position: relative;
    //left: 45px;
    //overflow: visible;
  }
  th.player {
    text-align: left;
  }
  td.player {
    padding-right: 10px;
    padding-left: 10px;
    //width: 100px;
  }

  img.glyph {
    max-height: 40px;
    max-width:  80px;
    border: 0;
    text-align: center;
    vertical-align: middle;
  }

  .maag_glyphs .player .glyph   { display: inline; }
  .maag_glyphs .player .name    { display: none;    }
  .maag_glyphs tbody td.player  { text-align: center; }
  .maag_glyphs tbody tr td      { height: 44px; }

  .maag_names .player .glyph    { display: none;    }
  .maag_names .player .name     { display: inline; }
  .maag_names tbody td.player   { text-align: left; }
  .maag_names tbody tr td       { height: 22px; }
} // table.maag


///// nav
nav { text-align: center; }
nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 5px auto 5px auto;
  padding: 0;
  li {
    display: inline-block;
    a {
      padding: 0 5px 0 5px;
    }
  }
}


//// headers
h1 { font-size: 218%; text-align: center;}
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h1,h2,h3,h4 { font-weight: bold;}

